@import "tailwindcss";
@theme{

--color-abu: rgb(153, 88, 172);
--color-te:black;
--color-bo:rgb(165, 20, 210);
--color-search:rgba(5, 43, 75, 0.482);
--color-button:rgba(64, 136, 194, 0.98);
--color-new: rgb(90, 77, 60);
--color-changepass: rgba(63, 61, 58, 0.589);
--color-redone: rgb(236, 10, 10);
--color-back:rgba(rgb(19, 12, 12), rgb(12, 17, 12), rgb(24, 24, 34), 0.5);
--breakpoint-xsm:450px;
--breakpoint-2xsm:260px;
--breakpoint-1xsm:390px;
--breakpoint-port:550px;
--breakpoint-message:900px;
--color-brand:rgb(152,131,131);
--color-useblack:rgba(70, 67, 67, 0.6)}